* {
  color: black;
  font-family: "Times New Roman", Times, serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  background-color: paleturquoise;
  display: inline-flex;
}

.top ul {
  justify-content: flex-end;
}
nav h3 {
  background-color: paleturquoise;
  display: inline;
  position: relative;
  z-index: 2;
}
nav img {
  opacity: 0.5;
  object-fit: fill;
}

h3 {
  position: relative;
}

p {
  text-align: right;
}
.show-it1 li {
  border: solid blue;
  display: inline-flex;
}
.show-it-big img {
  border: 5px solid paleturquoise;
  box-sizing: border-box;
  width: 600px;
  height: 200px;
  object-fit: fill;
}
.top {
  background-color: gray;
}
.top li {
  text-decoration: underline;
}
.show-it2 li {
  text-decoration: underline;
}
.samples img {
  border: 5px solid paleturquoise;
  box-sizing: border-box;
  width: 100;
  height: 300px;
  object-fit: fill;
}
