* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  scroll-behavior: smooth;
  color: navy;
}

h1 {
  background-color: lightsteelblue;
}

ul {
  list-style-type: none;
}

.top {
  background-color: lightsteelblue;
  display: flex;
  flex-direction: column;
}

.top ul {
  align-self: flex-end;
}
.top li {
  display: inline-block;
  margin-left: 25px;
  justify-content: flex-end;
  color: cadetblue;
  font-weight: bold;
  text-decoration: underline;
}

.pretty-pics {
  height: 200px;
  width: 100%;
}
nav h3 {
  background-color: cadetblue;
  display: inline;
}

nav img {
  opacity: 0.5;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h3 {
  position: relative;
  display: inline-flex;
}

.show-it1 {
  display: inline;
}
.show-it1 li {
  background-color: cadetblue;
  display: inline-flex;
}

.show-it-big {
  width: 80vw;
}
.show-it-big figure,
.samples figure {
  position: relative;
}
.show-it-big figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show-it-big img {
  border: 5px solid cadetblue;
  width: 75%;
  height: 75%;
  object-fit: cover;
  opacity: 0.5;
}

.samples figure figcaption {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-25%, -25%);
}
.samples img {
  border: 5px solid cadetblue;
  width: 40%;
  height: 40%;
  object-fit: cover;
  opacity: 0.5;
}

footer li {
  display: inline;
  margin-left: 25px;
}

@media screen and (max-width: 1279px) {
  .top {
    background-color: lightsteelblue;
  }
}

@media screen and (max-width: 768px) {
  .top {
    background-color: darkgreen;
  }
}

@media screen and (max-width: 500px) {
  .top {
    background-color: deepskyblue;
  }
}
